/*Media queries*/

.mediaqueries {
  width: 985px;
  height: 800px;
  background-color: aqua;
}
@media (max-width: 768px) {
  .mediaqueries {
    width: 250px;
    height: 250px;
    background-color: beige;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .mediaqueries {
    width: 500px;
    height: 650px;
    background-color: azure;
  }
}

body {
  height: 100vh;
}

.flexbox {
  display: flex;
  width: 75%;
  height: 50%;
  background-color: red;

}

.grid {
  display: grid;
  width: 75%;
  height: 50%;
  background-color: blue;
}

/*Fluid Grids*/
.container {
  display: grid;
  width: 100%; /* La grille occupe toute la largeur disponible */
}

.column {
  width: 50%; /* Chaque colonne occupe 50% de la largeur de son conteneur */
}

/*Images Réactives*/

img {
  max-width: 100%; /* L'image ne dépassera pas la largeur de son conteneur */
  height: auto; /* La hauteur s'ajustera proportionnellement */
}

/* Flex*/

.container{
  display: flex;
  width: 100%; /*Pareil que pour fluid grids. Le flex va prendre toute la largeur disponible*/
}
